
<style>
	div.card-header {
		padding: 0.3rem 0.75rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
		letter-spacing: 0.5px;
		border-top-left-radius: 0.375rem;
		border-top-right-radius: 0.375rem;
		border-bottom: none;
		position: relative;
		color: white;
		margin-top: 4%;
	}

	div.card > div.card-header {
		margin-top: 0;
	}

	html, body {
		scrollbar-width: none; /* Hide scrollbar in Firefox */
	}
</style>
<link rel="stylesheet" href="~/MyLibrary/MyCss/UniversialStyle.css" />
<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
	<div class='@ViewData["containerNav"] d-flex h-100'>

		<ul class="menu-inner pb-2 pb-xl-0">
			<li class="menu-item"> 
				<a class="menu-link">
					<i class="menu-icon tf-icons ti ti-menu-2"></i>
					<div> MAx App</div>
				</a>
			</li>
			<!--Temporary menu -->
			

		</ul>
	</div>
</aside>
<!-- / Menu -->

